################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fileUploadDownload/Upload/Files/638587533298980058.pdf
/fileUploadDownload/Upload/Files/638587537369945148.pdf
